.transactionBar {
  background-color: #2c2c2c;
  padding: 20px;
  border-radius: 15px;
  width: 320px;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.transactionBar p {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: 500;
  margin: 0;
}

.transactionBar input,
.transactionBar button {
    padding: 8px 10px;
    border: none;
    border-radius: 6px;
    outline: none;
    background-color: #444;
    color: white;
}

.transactionBar select {
    padding: 8px 10px;
    border: none;
    border-radius: 6px;
    width: 150px;
    outline: none;
    background-color: #444;
    color: white;
}

.transactionBar button.add-btn {
    background-color: rgb(114, 255, 203);
    cursor: pointer;
    transition: background-color 0.2s;
}

.transactionBar button.add-btn:hover {
    background-color: rgba(114, 255, 203, 0.856);
}

.transactionBar input:focus,
.transactionBar select:focus,
.transactionBar button:focus {
    background-color: #555;
    color: white;
    outline: 2px solid rgb(114, 255, 203);
}

#addCategory {
    position: absolute;
    right: 70px;
    top: 100px;
    height: 32px;
    padding: 4px 10px;
    font-size: 1rem;
    background-color: rgb(114, 255, 203);
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

#addCategory:hover {
    transition: background-color 0.2s;
    background-color: rgba(114, 255, 203, 0.856);
}