
/* TRANSACTION BAR INPUT */
#transactionBars {
    display: flex;

   
}

.transactionBar {
  display: flex;
  margin: 0 auto;
  border-collapse: collapse;
  align-items: center;
  justify-content: center;  
  gap: 10px;
  
}

.transactionBar td {
  padding: 6px 5px;
 
  
}

.transactionBar input,
.transactionBar select {
  padding: 8px;
  width: 130px;
  border: none;
  border-bottom: 2px solid #ccc;
  background-color: #f0f0f0;
  color: #000;
  font-size: 14px;
  border-radius: 4px;
  transition: border-color 0.3s, background-color 0.3s;
  
} 

.transactionBar input:focus,
.transactionBar select:focus {
  outline: none;
  border-color: #888;
  background-color: #fff;
}

/* gjelder for alle "add-btn"*/
.add-btn {
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  background-color: rgb(134, 134, 134);
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.add-btn:hover {
  background-color: rgb(114, 255, 203);
}

